<dx-data-grid [dataSource]="rows"
              dataRowTemplate="dataRowTemplateName">
  <dxi-column *ngFor="let col of columns" [caption]="col.label"></dxi-column>

  <ng-container *dxTemplate="let dataRow of 'dataRowTemplateName'">
    <ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: dataRow.data }">
    </ng-container>
  </ng-container>

  <dxo-toolbar>
    <dxi-item location="after">
      <div *dxTemplate>
        <app-grid-child (someEvent)="someEventHandler()"></app-grid-child>
      </div>
    </dxi-item>
  </dxo-toolbar>
</dx-data-grid>

<!--<app-grid-child (someEvent)="someEventHandler()"></app-grid-child>-->
